<!DOCTYPE html>
<html ng-app="AppCliente">
    <head>
        <title>Angular</title>
        <meta charset="utf-8">
        <script type="text/javascript" src="js/angular.js"></script>
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
        <script type="text/javascript">
        angular.module("AppCidades", []);
        angular.module("AppCidades", []).controller("AppCidadesCtrl", function ($scope, $http) {
        var carregaCidades = function(){
        $http({method :'GET',url:'http://localhost:8080/datasnap/rest/tservermethods1/cliente'}).then(function(success){
        $scope.cliente =success.data.result[0];
        },function(error){
        $scope.msg = error;
        
        });
        };
        carregaCliente();
        });
        </script>
        <style type="text/css">
        .jumbotron {
        margin-left: auto;
        
        margin-right: auto;
        width: 900px;
        }
        </style>
    </head>
    <body>
        <div class="jumbotron" ng-controller="AppCidadesCtrl">
            <h2 class="text-center">Lista de Cliente</h2>
            <label>Pesquisa: </label>
            <input class="form-control" type="search" name="" ng-model="termo">
            <table class="table table-striped">
                <tr>
                    <th>
                    <a href="#" ng-click="ordem = 'CODIGO'; invertido = !invertido">CODIGO</th>
                    <th>
                    <a href="#" ng-click="ordem = 'CIDADE'; invertido = !invertido">CIDADE</th>
                    <th>
                    <a href="#" ng-click="ordem = 'UF'; invertido = !invertido">UF</th>
                    <th>
                    <a href="#" ng-click="ordem = 'CEP'; invertido = !invertido">CEP</th>
                    <th>
                    <a href="#" ng-click="ordem = 'IBGE'; invertido = !invertido">IBGE</th>
                    <th>
                    <a href="#" ng-click="ordem = 'ESTADO'; invertido = !invertido">ESTADO</th>
                    <th>
                    <a href="#" ng-click="ordem = 'MUNICIPIO'; invertido = !invertido">MUNICIPIO</th>
                </tr>
                <tr ng-repeat="cidade in cidades | filter:termo | orderBy:ordem:invertido ">
                    <td>{{cidade.CODIGO}}</td>
                    <td>{{cidade.CIDADE}}</td>
                    <td>{{cidade.UF}}</td>
                    <td>{{cidade.CEP}}</td>
                    <td>{{cidade.IBGE}}</td>
                    <td>{{cidade.ESTADO}}</td>
                    <td>{{cidade.MUNICIPIO}}</td>



 ID_CLIENTE    INTEGER NOT NULL,
    CLIENTE       TXT60 COLLATE PT_BR /* TXT60 = VARCHAR(60) */,
    ENDERECO      TXT60 COLLATE PT_BR /* TXT60 = VARCHAR(60) */,
    BAIRRO        TXT40 COLLATE PT_BR /* TXT40 = VARCHAR(40) */,
    CIDADE        TXT40 COLLATE PT_BR /* TXT40 = VARCHAR(40) */,
    UF  


                    
                </tr>
            </table>
            {{error}}
        </div>
        
    </body>
</html>